html {
    overflow: hidden;
    cursor: none;
}

body {
    margin: 0;
    color: black;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(/img/);
    font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.borderless td, .borderless th {
    border: none;
}


/* SIDENAV */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    cursor: none;
}

.sidenav a:hover {
    color: black;
    cursor: none;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#bottom {
    margin-bottom: 10px;
}

.linkborder {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.linkborder::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .1s;
}

.linkborder:hover::after {
    width: 30%;
    transition: width 2s;
}

/* SLIDING CARDS */
:root {
    --gutter: 7px;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);

    overflow-x: scroll;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

ul {
    list-style: none;
}

/*
.hs > li, .item {
    scroll-snap-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
}
*/

#cursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
